{% load static navbar_tags %}
{% getnavbar_pages "1" as first_half_ %}
{% getnavbar_pages "2" as second_half_ %}
<nav class="navigation">
  <ul class="navigation__list">
    {% for fhitem in first_half_ %}
      <li class="navigation__item">
        <a class="navigation__link" href="{{ fhitem.url }}">{{ fhitem.title }}</a>
      </li>
    {% endfor %}
  </ul>
  <div class="navigation__item--logo">
    <a class="navigation__link" href="/">
      <img src="{% static '/img/page-logo.png' %}" alt="Logo" />
    </a>
  </div>
  <ul class="navigation__list">
    {% for shitem in second_half_ %}
      <li class="navigation__item">
        <a class="navigation__link" href="{{ shitem.url }}">{{ shitem.title }}</a>
      </li>
    {% endfor %}
    <li class="navigation__social">
      <a href="https://facebook.com/KretingosFKMinija/">
        <img src="{% static '/img/LogoFacebook.jpeg' %}" alt="Facebook logo" />
      </a>
      <a href="https://www.instagram.com/fk_minija/">
        <img src="{% static '/img/InstaLogo.png' %}"
             alt="Instagram logo"
             href="instagram.com/fkminija/" />
      </a>
    </li>
  </ul>
</nav>
